MeteoXML/src/Current.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="current">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="city">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="coord">
                <xsd:complexType>
                  <xsd:attribute name="lon" type="xsd:decimal" />
                  <xsd:attribute name="lat" type="xsd:decimal" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="country" type="xsd:string" />
              <xsd:element name="sun">
                <xsd:complexType>
                  <xsd:attribute name="rise" type="xsd:dateTime" />
                  <xsd:attribute name="set" type="xsd:dateTime" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:int" />
            <xsd:attribute name="name" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="temperature">
          <xsd:complexType>
            <xsd:attribute name="value" type="xsd:decimal" />
            <xsd:attribute name="min" type="xsd:decimal" />
            <xsd:attribute name="max" type="xsd:decimal" />
            <xsd:attribute name="unit" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="humidity">
          <xsd:complexType>
            <xsd:attribute name="value" type="xsd:int" />
            <xsd:attribute name="unit" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="pressure">
          <xsd:complexType>
            <xsd:attribute name="value" type="xsd:int" />
            <xsd:attribute name="unit" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="wind">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="speed">
                <xsd:complexType>
                  <xsd:attribute name="value" type="xsd:decimal" />
                  <xsd:attribute name="name" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="gusts" type="xsd:string" />
              <xsd:element name="direction">
                <xsd:complexType>
                  <xsd:attribute name="value" type="xsd:int" />
                  <xsd:attribute name="code" type="xsd:string" />
                  <xsd:attribute name="name" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="clouds">
          <xsd:complexType>
            <xsd:attribute name="value" type="xsd:int" />
            <xsd:attribute name="name" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="visibility">
          <xsd:complexType>
            <xsd:attribute name="value" type="xsd:int" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="precipitation">
          <xsd:complexType>
            <xsd:attribute name="mode" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="weather">
          <xsd:complexType>
            <xsd:attribute name="number" type="xsd:int" />
            <xsd:attribute name="value" type="xsd:string" />
            <xsd:attribute name="icon" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="lastupdate">
          <xsd:complexType>
            <xsd:attribute name="value" type="xsd:dateTime" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>